.header {
    background-color: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;

    h1 {
        color: white;
        margin: 0;
    }
}
